* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --cell-width: 9rem;
    --bg-color: #f0fdfa;
    --text-color: #042f2e;
    --cell-color: #ccfbf1;
    --cell-color-hover: #99f6e4;
    --border-color: #115e59;
    --btn-color: #2dd4bf;
    --btn-color-hover: #0f766e;
    --shadow-color: rgba(19, 78, 74, 0.2);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-color);
}
